/* SECTION PRÉSENTATION */

#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 484px;
  background-color: #242424;
  padding-top: 34px;
  padding-bottom: 0;

  .presentation-image {
    width: 250px;
    height: 320px;
    margin: 0 100px 0 20px;
    object-fit: cover;
    border-radius: 10px;
  }

  /* Titre + texte de présentation */
  .title-presentation {
    text-align: left;

    .name {
      margin-top: 30px;
      font-size: 3.5em;
      line-height: 1;
      color: white;
      margin-bottom: 0;
    }

    .dev {
      margin-top: 10px;
      font-size: 3.5em;
      line-height: 1.2;
      color: #E6007E;
    }


    .text-presentation {
      font-size: 1.2em;
      line-height: 1.3;
      color: white;
      max-width: 680px;
      margin: 10px 20px 0 0;
    }
  }
}


/* SECTION CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #242424;
}

h3 {
  font-size: 1.3em;
  margin: 5px;
}

.button-CV {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #E6007E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button-CV a {
  color: white;
  text-decoration: none;
}


/* SECTION PORTFOLIO */

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h2 {
  font-size: 2em;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
}


.project-container li {
  position: relative;
  width: 600px;
  height: 420px;
  list-style: none;
  margin: 20px;
  border: #242424 solid 1px;
  /* box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75); */
  background-color: white;
  /* border-radius: 20px; */
  cursor: pointer;
}

.project-container li:hover {
  box-shadow: 2px 2px 5px 0 rgba(230, 0, 126, 0.5);
}

.project-container img {
  width: 600px;
  height: 420px;
  object-fit: cover;
  transition: all 0.3s ease;
  /* border-radius: 20px; */
  opacity: 0.5;
  filter: grayscale(100%);
}

.project-container li:hover img {
  opacity: 0.8;
  filter: none;
}


@media (max-width: 1100px) {

  /* SECTION PRÉSENTATION */

  #presentation {
    height: 404px;

    .presentation-image {
      width: 200px;
      height: 270px;
      margin: 20px 50px 0 20px;
    }


    /* Titre + texte de présentation */

    .title-presentation {
      .name {
        font-size: 3em;
      }

      .dev {
        font-size: 3em;
      }


      .text-presentation {
        font-size: 1em;
      }
    }
  }
}


  /* SECTION PORTFOLIO */

h2 {
  margin: 40px 0 0 0;
}



@media (max-width: 780px) {

  /* SECTION PRÉSENTATION */

  #presentation {
    height: 244px;

    .presentation-image {
      display: none;
      width: 200px;
      height: 220px;
      margin: 20px 50px 0 20px;
    }


    /* Titre + texte de présentation */

    .title-presentation {
      text-align: center;
      margin-bottom: 50px;
      max-width: 500px;

      .name {
        font-size: 2.3em;
      }

      .dev {
        font-size: 2.3em;
        line-height: 1em;
      }

      .text-presentation {
        font-size: 0.9em;
        margin: 0 20px 20px 20px;
      }
    }
  }


  /* SECTION PORTFOLIO */

  h2 {
    font-size: 1.5em;
  }

  .project-container li {
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid #242424;
    border-top: 1px solid #242424;
    box-shadow: none;
    border-radius: 0;
  }

  .project-container li:hover {
    border-bottom: 1px solid #E6007E;
    border-top: 1px solid #E6007E;
    box-shadow: none;
  }

  .project-container img {
    width: 100%;
    border-radius: 0px;
  }
}



@media (max-width: 480px) {

  #presentation {
    width: 100%;
    height: 200px;


    .title-presentation {
      max-width: 420px;

      .name {
        font-size: 1.5em;
      }

      .dev {
        font-size: 1.5em;
      }


      .text-presentation {
        font-size: 0.7em;
      }
    }
  }

    /* SECTION PORTFOLIO */

    h2 {
      font-size: 1.2em;
    }
}