/* HEADER ET LIENS */

header {
    position: fixed;
    background-color: white;
    padding: 5px 0;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #E6007E;
    overflow: hidden;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: #242424;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #E6007E;
}


/* MENU HAMBURGER */

.menu-hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    width: 40px;
    height: 35px;
}

.bar {
    height: 3px;
    background-color: black;
    margin: 4px 0;
}



@media (max-width: 780px) {

    /* HEADER ET LIENS */

    header {
        background-color: transparent;
        border-bottom: none;
        padding: 0;
    }  


    /* MENU HAMBURGER */

    .menu-hamburger {
        display: flex;
        position: fixed;
        background-color: #E6007E;
        padding: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100px;
        padding: 10px;
        margin: 0;
        position: relative;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
        border-bottom-right-radius: 5px;
    }

    .nav-links li {
        margin: 5px 0;
    }
}


@media (max-width: 480px) {

    .menu-hamburger {
        width: 35px;
        height: 30px;
    }

}