.modal-overlay {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: white;
  padding: 20px;
  /* border-radius: 20px; */
  max-width: 1000px;
  width: 100%;
  max-height: 95vh;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-overlay.show .modal {
  opacity: 1;
  transform: scale(1);
}

.modal.open {
  opacity: 1;
  transform: scale(1);
}

.modal.closing {
  opacity: 0;
  transform: scale(0.9);
}

.modal h2 {
  margin-top: 0;
  color: #E6007E;
}

.image-description-wrapper {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-description-wrapper img {
  width: 100%;
  max-height: 65vh;
  object-fit: cover;
  object-position: top;
  margin: 0;
  border: 1px solid #E6007E;
}

.description {
  line-height: 1.2em;
  width: 100%;
  margin: 10px 0;
  font-size: 1em;
  color: #242424;
  background-color: #e5e5e5;
  padding: 15px 10px;
  box-sizing: border-box;
}

.tools {
  font-weight: 700;
  margin: 5px 0;
  font-size: 1em;
}

.modal a {
  font-size: 1em;
  color: #242424;
  margin-bottom: 20px;
}

.modal a:hover {
  color: #E6007E;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e5e5e5;
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #242424;
}


@media (max-width: 780px) {

  .modal {
    border-radius: 0;
  }

  .description {
    font-size: 0.8em;
  }

  .tools,
  .modal a {
    font-size: 0.8em;
  }

}


@media (max-width: 600px) {

  .description {
    font-size: 0.6em;
  }

  .tools,
  .modal a {
    font-size: 0.6em;
  }

}